@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Regular.ttf);
}
.App {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden; /*Remove the scrollbar*/
}
