:root {
  /*Colors*/
  --label-color: #4583b6;
  --text-color: #9dafbe;
  --app-bgcolor: #2f4b6a;
  --app-control-bgcolor: #1e3a5a;
  --hud-bgcolor: rgb(17 48 76 / 80%);
  --shadow-color: #0b1e36;
  --selection-color1: #aebccc;
  --selection-color2: #091e37;
  --cursor-color: red;
  --button-bgcolor: #153067;
  --button-bgcolor-hover: #1f3e7a;
  --help-color: white;
  --helpbutton-bgcolor: var(--hud-bgcolor);
  --helpbutton-shadowcolor: var(--shadow-color);
  --helpcontent-bgcolor: #132a43;

  /*Sizes*/
  --label-size: 24px;
  --text-size: 18px;
  --input-size: 24px;

  /*Z-index*/
  --z-index-hud: 100;
  --z-index-help: 101;
  --z-index-help-content: 102;
  --z-index-toastnotification: 103;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
