.AppGame {
  flex: 1; /*Take as much space as available*/
  background-color: blue;

  /*The App Game is a container that is set in the middle of the screen*/
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden; /*When dragging the container, we do not want to draw the canvas outside the game area*/
}
