.HeadOverDisplay {
  position: fixed;
  top: 0;
  margin: auto;
  padding: 20px;

  display: flex;
  justify-content: center;

  z-index: var(--z-index-hud);
}

.HeadOverDisplayPanel {
  flex: 0 0 500px;
  background-color: var(--hud-bgcolor);
  box-shadow: var(--shadow-color) 1px 2px 3px;

  padding: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.HeadOverDisplayPanelContent {
  flex: 1;
}

.HeadOverDisplayPanelContent > div:first-of-type {
  font-size: 1.1em;
  color: var(--label-color);
  margin-bottom:2px;
}
