.TargetSelector {
  pointer-events: none; /*Pass through the mouseHover; otherise, the selector goes in the way*/
  position: absolute;
  box-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
  border-color: var(--cursor-color);
  border-style: solid;
}
